.one {
    background-image: url('./assets/eggs.png');
    background-repeat: no-repeat;
    background-size: contain;

    border-radius: 12px 12px 0px 0px;
}

.two {
    background-image: url('./assets/pizza.png');
    background-repeat: no-repeat;
    background-size: contain;

    border-radius: 12px 12px 0px 0px;
}

.three {
    background-image: url('./assets/martinez.png');
    background-repeat: no-repeat;
    background-size: contain;

    border-radius: 12px 12px 0px 0px;
}

.four {
    background-image: url('./assets/cake.png');
    background-repeat: no-repeat;
    background-size: contain;

    border-radius: 12px 12px 0px 0px;
}

.five {
    background-image: url('./assets/Lemonade.png');
    background-repeat: no-repeat;
    background-size: contain;

    border-radius: 12px 12px 0px 0px;
}

.six {
    background-image: url('./assets/Chocolate\ Icecream.png');
    background-repeat: no-repeat;
    background-size: contain;

    border-radius: 12px 12px 0px 0px;
}

.seven {
    background-image: url('./assets/Cheese\ Burger.png');
    background-repeat: no-repeat;
    background-size: contain;

    border-radius: 12px 12px 0px 0px;
}

.eight {
    background-image: url('./assets/Classic\ Waffles.png');
    background-repeat: no-repeat;
    background-size: contain;

    border-radius: 12px 12px 0px 0px;
}