.twit {
    background-image: url('./assets/1.svg');
    background-size: contain;
    background-repeat: no-repeat;


}

.fbook {
    background-image: url('./assets/2.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.insta {
    background-image: url('./assets/3.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.git {
    background-image: url('./assets/4.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.food {
    background-image: url('./assets/japanese-food.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.mail {
    background-image: url('./assets/mail.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.phone {
    background-image: url('./assets/phone.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.point {
    background-image: url('./assets/location-marker.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.foodFooter {
    background-image: url('./assets/japanese-food-footer.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.iconCoffe {
    background-image: url('./assets/icon-coffe.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}

.iconDish {
    background-image: url('./assets/icon-dish.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}

.iconJuice {
    background-image: url('./assets/icon-juice.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}

.iconDesserts {
    background-image: url('./assets/icon-desserts.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}

.twit,
.fbook,
.insta,
.git,
.food,
.mail,
.phone,
.foodFooter,
.point:hover {
    cursor: pointer;
}