.one {
    background-image: url('./assets/pexels-one.svg');
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 12px;
}

.two {
    background-image: url('./assets/eiliv-two.svg');
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 12px;
}

.three {
    background-image: url('./assets/pexels-three.svg');
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 12px;
}

.four {
    background-image: url('./assets/pexels-four.svg');
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 12px;
}