.one {
    background-image: url('./assets/pexels-one.svg');
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 12px;
}

.two {
    background-image: url('./assets/eiliv-two.svg');
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 12px;
}

.three {
    background-image: url('./assets/pexels-three.svg');
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 12px;
}

.four {
    background-image: url('./assets/pexels-four.svg');
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 12px;
}

.five {
    background-image: url('./assets/kebab-set-table\ 1.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 12px;
}

.six {
    background-image: url('./assets/charming-female-blowing-candles-birthday-cake-after-making-her-wish-party\ 1.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 12px;
}

.seven {
    background-image: url('./assets/happy-man-wife-sunny-day\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 12px;
}

.eight {
    background-image: url('./assets/group-friends-eating-restaurant\ 1.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 12px;
}