.one {
    background-image: url('./assets/eggs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 61%;

    border-radius: 12px;
}

.two {
    background-image: url('./assets/pizza.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;

    border-radius: 12px;
}

.three {
    background-image: url('./assets/cocktail.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;

    border-radius: 12px;
}

.four {
    background-image: url('./assets/cake.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 86%;

    border-radius: 12px;
}

.five {
    background-image: url('./assets/lemonade.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 80%;

    border-radius: 12px;
}

.six {
    background-image: url('./assets/icecream.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 71%;

    border-radius: 12px;
}

.seven {
    background-image: url('./assets/burger.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 72%;

    border-radius: 12px;
}

.eight {
    background-image: url('./assets/waffles.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 65%;

    border-radius: 12px;
}