.header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;

    .hat {
        background: #474747;
        padding: 10px 140px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;

        .contacts {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;

            p {
                color: var(--neutral-02, #F9F9F7);

                font: 400 16px DM Sans;
                line-height: 24px;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }

        .media {
            display: flex;
            justify-content: space-between;
            gap: 4px;
        }
    }

    .navigaton {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 140px;

        .logo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;

            color: #474747;
            font: 600 42px Playfair Display;
            font-style: italic;
            line-height: 29.333px;
            letter-spacing: -0.4px;
        }

        .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;

            p {
                color: var(--neutral-07, #2C2F24);

                font: 500 16px DM Sans;
                line-height: 24px;
                border-radius: 34px;
                padding: 4px 16px;

                &:hover {
                    background: #DBDFD0;
                    cursor: pointer;
                }
            }
        }

        .button {
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 12px 24px;
            border-radius: 118px;
            border: 1.5px solid var(--neutral-07, #2C2F24);

            color: var(--neutral-07, #182226);
            font: 700 16px DM Sans;
            line-height: 24px;

            transition: all 0.3s;

            &:hover {
                cursor: pointer;
                box-shadow: 0px 0px 10px 4px rgba(13, 13, 13, 0.162);
            }
        }
    }
}